<button class="my-btn" id="delete"{{action 'delete' question}}></button>
<button class="my-btn" id="update" data-toggle="modal" data-target=".update-post-modal-lg"></button>

<!-- Modal -->

<div class="modal fade update-post-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
  <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Update Question</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="post">
        <div class="modal-body">
          <div class="form-group row">
            <label for="title" class="col-2 col-form-label">Title:</label>
            <div class="col-10">
              {{input class="form-control" type="text" value=title placeholder=question.title}}
            </div>
          </div>
          <div class="form-group row">
            <label for="date" class="col-2 col-form-label">Date:</label>
            <div class="col-10">
              {{input class="form-control" type="date" value=date placeholder=question.date}}
            </div>
          </div>
          <div class="form-group row">
            <label for="author" class="col-2 col-form-label">Author: </label>
            <div class="col-10">
              {{input class="form-control" type="text" value=author placeholder=question.category}}
            </div>
          </div>
          <div class="form-group row">
            <label for="content" class="col-2 col-form-label">Content</label>
            <div class="col-10">
              {{textarea type="text" placeholder="Answer" value=content class="form-control" rows="20"
                    enter="answerSave" placeholder=question.content}}
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button {{action 'update' question}} class="btn btn-primary" data-dismiss="modal">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>
